* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #FFF;
    --secondary-color: #C4C4CC;
    --tertiary-color: #E1E1E6;
    font-size: 62.5%;
}

.selected {
    color: var(--primary-color)
}

html {
    background: #04222e;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('assets/background-home.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s;
}

nav {
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 3.2rem;
    padding: 4rem 7.2rem;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 2.16rem;
    padding: 0 
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    font-weight: 700;
    font-size: 4.8rem;
    color: var(--tertiary-color);
    margin-bottom: 2.4rem;
}

p {
    font-size: 1.8rem;
    color: var(--tertiary-color);
}

button {
    display: block;
    margin: 0 auto;
    padding: 1.2rem 3.2rem;
    background: transparent;
    border: .2rem solid var(--primary-color);
    border-radius: .5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
    cursor: pointer;
    transition: background 0.5s;
}

button:hover {
    background-color: hsla(240, 9%, 89%, 0.2)
}

.content-info {
    margin: 6.3rem 10.2rem;
    max-width: 64.8rem;
}